{extend name="layout" /}
{block name="title"}文章列表{/block}
<!--script for this page-->
{block name="main"}
<section id="main-content">
	<section class="wrapper">
		<h3><i class="fa fa-angle-right"></i>文章列表</h3>

		<!-- BASIC FORM ELELEMNTS -->
					<div class="row mt">
						<div class="col-md-12">
							<div class="content-panel">
								<table class="table table-striped table-advance table-hover">
									<h4><i class="fa fa-angle-right"></i>文章列表&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/admin/article/add" class="label label-info label-mini">新增文章</a></h4>
									<hr>
									<thead>
									<tr>
										<th><i class="fa fa-bullhorn"></i> 标题</th>
										<th class="hidden-phone"><i class="fa fa-question-circle"></i> 关键字</th>
										<th><i class="fa fa-user"></i> 作者</th>
										<th><i class="fa fa-bookmark"></i> 发布时间</th>
										<th><i class="fa fa-eye"></i> 关注度</th>
										<th><i class="fa fa-heart"></i> 赞</th>
										<th><i class=" fa fa-edit"></i> 操作</th>
										<th></th>
									</tr>
									</thead>
									<tbody>
									{volist name='article' id='value'}
									<tr>
										<td>{$value.title}</td>
										<td>{$value.keywords}</td>
										<td>{$value.author} </td>
										<td>{$value.create_time|date="Y-m-d H:i:s"}</td>
										<td>{$value.see} </td>
										<td>{$value.zan} </td>
										<td>
											<button class="btn btn-primary btn-xs" onclick="window.location.href='/admin/article/update/{$value.id}'"><i class="fa fa-pencil"></i></button>
											<button class="btn btn-danger btn-xs" onclick="window.location.href	='/admin/article/delete/{$value.id}'"><i class="fa fa-trash-o "></i></button>
										</td>
									</tr>
									{/volist}
									</tbody>
								</table>
								{$article|raw}
							</div><!-- /content-panel -->
						</div><!-- /col-md-12 -->
					</div><!-- /row -->
					</section><! --/wrapper -->
</section>
{/block}
</body>
</html>
